.sc-view {
	-moz-user-select: -moz-none;
	border: 0 solid transparent;
	cursor: default;
	margin: 0;
	overflow: hidden;
	position: absolute;
}
.sc-view.sc-static-layout {
	position: relative;
}
.email-view *:focus {
	outline: none;
}
.email-view {
	color: #000000;
	background-color: #FFFFFF;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	/*text-rendering: optimizelegibility;*/
	position: relative;
	border: 1px solid #CCCCCC;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 5px;
}
.email-view .ck-token-item textarea, #help_text_size {
	background-color: #FFFFFF;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
}
.email-view .ck-token-item textarea {
	resize: none;
	overflow: hidden;
	border: 0px;
	margin-top: 3px;
	width: 100%;
	margin-left: 2px;
	top: 5px;
	height: 22px;
}
.email-view .ck-token-item textarea:hover {
	background-color: #FFFFFF;
}
.ck-token-view {
	margin-right: 25px;
	left: 5px;
	right: 38px;
	top: 0px;
	height: 33px;
	overflow: hidden;
	min-width: 72px;
	min-height: 27px;
}
.email-view textarea {
	border: none;
	margin: 0;
	padding: 0;
	resize: none;
}
.ck-token-view .hidden-text {
	width: 1px;
	left: -1000px;
	position: fixed;
}
.email-view .ck-token-item {
	height: 22px;
	display: inline-block;
	line-height: 1.6;
	padding-right: 3px;
}
.email-view .ck-token-item > .left {
	background-image: url('../img/packed-6.png');
	background-position: -721px -1456px;
	background-repeat: no-repeat;
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 10px;
}
.email-view .ck-token-item > .middle {
	background-image: url('../img/packed-7.png');
	background-position: 0px -4598px;
	background-repeat: repeat-x;
	position: absolute;
	left: 10px;
	top: 0px;
	right: 10px;
	bottom: 0px;
}
.email-view .ck-token-item > .right {
	background-image: url('../img/packed-6.png');
	background-position: -671px -1456px;
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 10px;
}
.email-view .ck-token-item.token-invalid > .left {
	background-image: url('../img/packed-6.png');
	background-position: -661px -1456px;
	background-repeat: no-repeat;
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 10px;
}
.email-view .ck-token-item.token-invalid > .middle {
	background-image: url('../img/packed-7.png');
	background-position: 0px -4682px;
	background-repeat: repeat-x;
	position: absolute;
	left: 10px;
	top: 0px;
	right: 10px;
	bottom: 0px;
}
.email-view .ck-token-item.token-invalid > .right {
	background-image: url('../img/packed-6.png');
	background-position: -651px -1456px;
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 10px;
}
.email-view .ck-token-item.token-invalid:hover > .left {
	background-image: url('../img/packed-6.png');
	background-position: -641px -1456px;
	background-repeat: no-repeat;
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 10px;
}
.email-view .ck-token-item.token-invalid:hover > .middle {
	background-image: url('../img/packed-7.png');
	background-position: 0px -4661px;
	background-repeat: repeat-x;
	position: absolute;
	left: 10px;
	top: 0px;
	right: 10px;
	bottom: 0px;
}
.email-view .ck-token-item.token-invalid:hover > .right {
	background-image: url('../img/packed-6.png');
	background-position: -631px -1456px;
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 10px;
}
.email-view .ck-token-item.token-invalid.focus {
	color: rgb(255, 255, 255);
}
.email-view .ck-token-item.token-invalid.focus > .left {
	background-image: url('../img/packed-6.png');
	background-position: -621px -1456px;
	background-repeat: no-repeat;
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 10px;
}
.email-view .ck-token-item.token-invalid.focus > .middle {
	background-image: url('../img/packed-7.png');
	background-position: 0px -4619px;
	background-repeat: repeat-x;
	position: absolute;
	left: 10px;
	top: 0px;
	right: 10px;
	bottom: 0px;
}
.email-view .ck-token-item.token-invalid.focus > .right {
	background-image: url('../img/packed-6.png');
	background-position: -611px -1456px;
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 10px;
}
.email-view .ck-token-item:hover > .left {
	background-image: url('../img/packed-6.png');
	background-position: -691px -1456px;
	background-repeat: no-repeat;
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 10px;
}
.email-view .ck-token-item:hover > .middle {
	background-image: url('../img/packed-7.png');
	background-position: 0px -4703px;
	background-repeat: repeat-x;
	position: absolute;
	left: 10px;
	top: 0px;
	right: 10px;
	bottom: 0px;
}
.email-view .ck-token-item:hover > .right {
	background-image: url('../img/packed-6.png');
	background-position: -711px -1456px;
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 10px;
}
.email-view .ck-token-item.focus {
	color: rgb(255, 255, 255);
}
.email-view .ck-token-item.focus > .left {
	background-image: url('../img/packed-6.png');
	background-position: -741px -1456px;
	background-repeat: no-repeat;
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 10px;
}
.email-view .ck-token-item.focus > .middle {
	background-image: url('../img/packed-7.png');
	background-position: 0px -4640px;
	background-repeat: repeat-x;
	position: absolute;
	left: 10px;
	top: 0px;
	right: 10px;
	bottom: 0px;
}
.email-view .ck-token-item.focus > .right {
	background-image: url('../img/packed-6.png');
	background-position: -771px -1456px;
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 10px;
}
.email-view .ck-token-item .left, .email-view .ck-token-item:hover > .left, .email-view .ck-token-item.sel > .left {
	height: 21px;
}
.email-view .ck-token-item .middle, .email-view .ck-token-item:hover > .middle, .email-view .ck-token-item.sel > .middle {
	height: 21px;
}
.email-view .ck-token-item .right, .email-view .ck-token-item:hover > .right, .email-view .ck-token-item.sel > .right {
	height: 21px;
}
.email-view .ck-token-item .token-span {
	position: absolute;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.email-view .ck-token-item .token-value {
	position: relative;
	margin-left: 7px;
	padding: 0px 5px;
	cursor: default;
	top: 1px;
}
.email-view .contact-picker {
	margin-left: 8px;
	margin-top: 8px;
}
.email-view .contact-picker .contacts {
	background-image: url("../img/packed-6.png");
	background-position: -236px -1479px;
	background-repeat: no-repeat;
	height: 19px;
	left: 4px;
	top: -1px;
	width: 19px;
}
.email-view .contact-picker.down .contacts {
	background-position: -255px -1479px;
}
.sc-button-label img {
	margin-right: 4px;
}
.sc-button-view img {
	left: -2px;
	margin-right: 2px;
	position: relative;
	top: -2px;
	vertical-align: middle;
}
.sc-button-view .sc-view img {
	border: medium none;
}
/*-------------------------------------------------------------------------------------*/
.source-list-border {
	border: 1px solid rgb(184, 184, 184);
	border-radius: 10px 10px 10px 10px;
}
.groups-list {
	overflow: hidden;
	float: left;
}
.groups-list .item {
	height: 34px;
	border-top: 1px dotted #FFFFFF;
	border-top: 1px dotted #AFBCD5\9;
	border-bottom: 1px dotted #AFBCD5;
	color: #292929;
	margin-top: -1px;
	margin-left: 28px;
}
.groups-list .item .sc-label {
	bottom: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	left: 15px;
	overflow: hidden;
	position: relative;
	text-align: left;
	text-overflow: ellipsis;
	/*text-rendering: auto;*/
	top: 8px;
	white-space: nowrap;
}
.groups-list .item.focus {
	color: #0C61ED;
	background-color: #EAF4FA;
	border-bottom: 1px solid #AFBCD5;
	border-top: 1px solid #AFBCD5;
}
.groups-list .item:hover {
	color: #0C61ED;
	background-color: #EAF4FA;
	border-bottom: 1px solid #AFBCD5;
	border-top: 1px solid #AFBCD5;
}
.groups-list .item.focus.update textarea {
	background-color: #EAF4FA;
}
.groups-list .item.update:hover textarea {
	background-color: #EAF4FA;
}
.groups-list .item.update textarea {
	bottom: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	left: 14px;
	overflow: hidden;
	position: relative;
	text-align: left;
	text-overflow: ellipsis;
	overflow: hidden;
	/*text-rendering: auto;*/
	top: -2px;
	white-space: nowrap;
	width: 210px;
	border: 0px;
	color: #292929;
	/*background-color: #EAF4FA;*/
	height: 20px;
	resize:none;
	outline:none;
}
.group-title {
	left: 50px;
	right: 50px;
	top: 24px;
	height: 24px;
	width: 250px;
	text-align: center;
	font-size: 16px;
	margin-bottom: 12px;
    padding-top: 13px;
}
.contacts-title {
	font-size: 16px;
	height: 24px;
	left: 295px;
	position: absolute;
	text-align: center;
	top: 0px;
	width: 250px;
	margin-bottom: 12px;
    padding-top: 13px;
}
.contact-list {
	overflow: hidden;
	left: 20px;
	position: relative;
	width:350px;
	height:385px;
}
.contact-list .item {
	height: 34px;
	border-top: 1px dotted #FFFFFF;
	border-top: 1px dotted #AFBCD5\9;
	border-bottom: 1px dotted #AFBCD5;
	color: #292929;
	margin-top: -1px;
}
.contact-list .item .sc-label {
	bottom: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	left: 15px;
	overflow: hidden;
	position: relative;
	text-align: left;
	text-overflow: ellipsis;
	/*text-rendering: auto;*/
	top: 8px;
	white-space: nowrap;
}
.contact-list .item.focus {
	color: #0C61ED;
	background-color: #EAF4FA;
	border-bottom: 1px solid #AFBCD5;
	border-top: 1px solid #AFBCD5;
}
.contact-list .item:hover {
	color: #0C61ED;
	background-color: #EAF4FA;
	border-bottom: 1px solid #AFBCD5;
	border-top: 1px solid #AFBCD5;
}
.contact-list .item.focus.update textarea {
	background-color: #EAF4FA;
}
/*
.contact-list .item.update{
	height: 88px;
}*/
.contact-list .item.update:hover textarea {
	background-color: #EAF4FA;
}
.contact-list .item.update textarea {
	/*
	bottom: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	left: 14px;
	overflow: hidden;
	position: relative;
	text-align: left;
	text-overflow: ellipsis;
	resize: none;
	overflow: hidden;
	margin-left: 7px;
	top: 7px;
	white-space: nowrap;
	width: 243px;
	border: 0px;
	color: #292929;
	font-size: 16px;
	height: 20px;
	border-bottom: 1px solid #AFBCD5;*/
	bottom: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	left: 14px;
	overflow: hidden;
	position: relative;
	text-align: left;
	text-overflow: ellipsis;
	resize:none;
	outline:none;
	overflow: hidden;
	top: 7px;
	white-space: nowrap;
	width: 310px;
	border: 0px;
	color: #292929;
	font-size: 16px;
	height: 20px;
}
/*-----------------------------------------------------------------*/
.addDelete.delete-icon {
	background-image: url("../img/packed-5.png");
	background-position: -628px -105px;
	background-repeat: no-repeat;
}
.addDelete.delete-icon.down{
	background-position: -600px -105px;
}
.addDelete {
	height: 30px;
	left: 14px;
	margin-left: -42px;
	margin-top: -53px;
	opacity: 1;
	position: relative;
	top: 50%;
	width: 28px;
	z-index: 200;
}
/*   button  style */
.add-button {
	max-height: 26px;
	min-width: 0;
}
.atv3.button {
	margin-left: 2px;
	margin-right: 2px;
	border: 0px none;
	vertical-align: top;
}
.atv3.button .sc-button-label {
	position: relative;
	display: block;
	text-align: center;
	margin-top: 0px;
	font-weight: bold;
	margin-left: 4px;
	margin-right: 4px;
	padding: 0px 5px;
}
.atv3.sc-regular-size.button .sc-button-label {
	font-size: 13px;
	font-weight: bold;
	min-height: 27px;
	line-height: 26px;
}
.ja-jp .atv3.sc-regular-size.button .sc-button-label, .zh-cn .atv3.sc-regular-size.button .sc-button-label, .zh-tw .atv3.sc-regular-size.button .sc-button-label {
	font-size: 12px;
}
.atv3.square.button .sc-button-label {
	color: rgb(71, 71, 71);
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
}
.atv3.square.button.sel .sc-button-label, .atv3.square.button.def .sc-button-label {
	color: rgb(37, 66, 103);
	text-shadow: 0px 1px 0px rgba(190, 220, 255, 0.6);
}
.atv3.square.button.disabled .sc-button-label {
	color: rgb(155, 155, 155);
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
}
.atv3.sc-regular-size.square.button {
	max-height: 26px;
	min-width: 68px;
}
.atv3.sc-regular-size.square.button > .left {
	background-image: url('../img/packed-5.png');
	background-position: -1864px -105px;
	background-repeat: no-repeat;
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 4px;
}
.atv3.sc-regular-size.square.button > .middle {
	background-image: url('../img/packed-6-1.png');
	background-position: 0px -4788px;
	background-repeat: repeat-x;
	position: absolute;
	left: 4px;
	top: 0px;
	right: 4px;
	bottom: 0px;
}
.atv3.sc-regular-size.square.button > .right {
	background-image: url('../img/packed-5.png');
	background-position: -1860px -105px;
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 4px;
}
.atv3.sc-regular-size.square.button.sel > .left, .atv3.sc-regular-size.square.button.def > .left {
	background-image: url('../img/packed-5.png');
	background-position: -1832px -105px;
	background-repeat: no-repeat;
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 4px;
}
.atv3.sc-regular-size.square.button.sel > .middle, .atv3.sc-regular-size.square.button.def > .middle {
	background-image: url('../img/packed-6-1.png');
	background-position: 0px -4896px;
	background-repeat: repeat-x;
	position: absolute;
	left: 4px;
	top: 0px;
	right: 4px;
	bottom: 0px;
}
.atv3.sc-regular-size.square.button.sel > .right, .atv3.sc-regular-size.square.button.def > .right {
	background-image: url('../img/packed-5.png');
	background-position: -1840px -105px;
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 4px;
}
.atv3.sc-regular-size.square.button.disabled > .left {
	background-image: url('../img/packed-5.png');
	background-position: -1980px -105px;
	background-repeat: no-repeat;
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 4px;
}
.atv3.sc-regular-size.square.button.disabled > .middle {
	background-image: url('../img/packed-6-1.png');
	background-position: 0px -4950px;
	background-repeat: repeat-x;
	position: absolute;
	left: 4px;
	top: 0px;
	right: 4px;
	bottom: 0px;
}
.atv3.sc-regular-size.square.button.disabled > .right {
	background-image: url('../img/packed-5.png');
	background-position: -1976px -105px;
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 4px;
}
.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.contacts .add-icon {
	background-image: url("../img/packed-5.png");
	background-position: -6153px -31px;
	background-repeat: no-repeat;
	position: relative;
	top: 7px;
	height: 13px;
	left: -1px;
	width: 13px;
}
.contacts .contact.img {
    background-image: url("../img/packed-5.png");
    background-position: -3272px 0;
    background-repeat: no-repeat;
    position: absolute;
    height: 61px;
    left: 273px;
    top: -5px;
    width: 71px;
    z-index: 200;
}
.contacts .contact.img:hover {
    background-image: url("../img/packed-5.png");
    background-position: -2988px 0;
    background-repeat: no-repeat;
    position: absolute;
    height: 61px;
    left: 273px;
    top: -5px;
    width: 71px;
    z-index: 200;
}
.contacts .contact.img.down{
	background-position: -3059px 0;
}
.title-groups {
	display:block;
	height:50px;
	position:absolute;
}
.title-groups.contact-view {
	left:-294px;
}
.contact-view > .contact.img{
	background-image: url("../img/packed-5.png");
    background-position: -3130px 0;
    background-repeat: no-repeat;
    left: 465px;
}
.contact-view > .contact.img:hover{
	background-image: url("../img/packed-5.png");
    background-position: -2917px 0;
    background-repeat: no-repeat;
    left: 465px;
}
.contact-view > .contact.img.down{
	background-position: -3201px 0;
}
.contacts-tfoot{
	display: block;
    height: 50px;
    left: -2px;
    margin-top: 7px;
    position: absolute;
    top: 425px;
}
.contacts-tfoot .operate-contact{
	display: none;
}
.contacts-tfoot.moveLeft{
	 left: -293px;
}
.contacts-tfoot.moveLeft .operate-contact{
	display: block;
}
.contacts .checkbox{
	background-image: url("../img/packed-5.png");
    background-position: -4071px -102px;
    background-repeat: no-repeat;
    display: block;
    width: 20px;
    height: 20px;
    left: 197px;
    position: relative;
    top: -9px;
}
.contacts .checkbox.checked{
	background-position: -4121px -102px;
}	
.contacts .contact-list .checkbox{
	left: 320px;
}
.contacts #contact_list_div.viewmodel{
	padding-left:7px;
	 z-index: 200;
}
.contacts #contact_list_div.viewmodel .contact-list{
	width:222px;
}
.contacts #contact_list_div.viewmodel .contact-list .checkbox{
	left: 197px;
}


