/pay/test/config/certs/*.pfx
/pay/test/config/certs/*.cer
/javaweb/WebContent/WEB-INF/index
*.class
.idea
.gradle
# Package Files #
*.jar
*.war
*.ear
*.iml
target
LOG_PATH_IS_UNDEFINED/
*/**/LOG_PATH_IS_UNDEFINED/
*/build

api-docs/node_modules
rebel.xml
rebel-remote.xml
aliyun-oss/resources/
cache/JavaSource/org/jfantasy/framework/util/
cache/build/
cms/build/
common/build/
common/resources/org/
core/build/
core/test/src/org/jfantasy/config/
express/resources/
express/test/
filestore-api/JavaSource/org/jfantasy/filestore/service/
filestore-api/build/
filestore-api/resources/
filestore/build/
gradlew
gradlew.bat
mall/JavaSource/org/jfantasy/mall/sales/task/
member/build/
member/test/
notification/
oauth-api/build/
oauth/JavaSource/org/springframework/
oauth/build/
pay-api/build/
pay-api/resources/
pay-client/build/
pay-client/test/src/
pay-test/build/
pay-test/resources/
pay/build/
pay/test/config/certs/
rpc-client/build/
rpc-client/test/config/
rpc-common/build/
rpc-server/build/
security/build/
security/test/
sms/build/
system/JavaSource/org/jfantasy/message/dao/
system/build/
system/resources/org/
test/build/
thirdparty/build/
thirdparty/resources/
wallet/build/
website/JavaSource/com.fantasy.website/rest/
websocket/JavaSource/
websocket/resources/
weixin/build/
