<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">

    <bean class="com.fantasy.wx.framework.factory.WeiXinSessionFactoryBean">
        <property name="messageHandler">
            <bean class="com.fantasy.wx.framework.handler.AutoReplyTextHandler"/>
        </property>
        <property name="accountDetailsService">
            <bean class="com.fantasy.wx.framework.account.SimpleAccountDetailsService">
                <property name="accounts">
                    <list>
                        <bean class="com.fantasy.wx.bean.Account">
                            <property name="appId" value="wx0e7cef7ad73417eb"/>
                            <property name="type" value="service"/>
                            <property name="secret" value="e932af31311aeebf76e21a539d9f1944"/>
                            <property name="token" value="haolue_token"/>
                            <property name="aesKey" value="tUQwZUkxaiRFF14lLqjjIV53JaVaPtyoe0NEn8otai6"/>
                            <property name="primitiveId" value="gh_3d6114f11c71"/>
                        </bean>
                        <bean class="com.fantasy.wx.bean.Account">
                            <property name="appId" value="wx928affc11e5e0463"/>
                            <property name="type" value="service"/>
                            <property name="secret" value="2169d5fc2aabca1031b8d451b62b5584"/>
                            <property name="token" value="yirui_token"/>
                            <property name="aesKey" value="unpGWTc9v3r4g0zZlpIdBFBHoeYJLnpUDlOb0JHldX3"/>
                            <property name="primitiveId" value="gh_3f4602496cc1"/>
                        </bean>
                        <bean class="com.fantasy.wx.bean.Account">
                            <property name="appId" value="wx0e7cef7ad73417eb"/>
                            <property name="type" value="service"/>
                            <property name="secret" value="e932af31311aeebf76e21a539d9f1944"/>
                            <property name="token" value="haolue_token"/>
                            <property name="aesKey" value="tUQwZUkxaiRFF14lLqjjIV53JaVaPtyoe0NEn8otai6"/>
                            <property name="primitiveId" value="gh_5983ccfebc6b"/>
                        </bean>
                    </list>
                </property>
            </bean>
        </property>
    </bean>

</beans>