<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>appName</display-name>

    <!-- Freemarker 模板中使用struts2标签 -->
    <servlet>
        <servlet-name>JspSupportServlet</servlet-name>
        <servlet-class>org.apache.struts2.views.JspSupportServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>weiXinOnPushServlet</servlet-name>
        <servlet-class>com.fantasy.framework.spring.web.DelegatingServletProxy</servlet-class>
        <init-param>
            <param-name>defaultAppId</param-name>
            <param-value>wxdb4ed8c64ae393e6</param-value>
        </init-param>
    </servlet>

    <!-- 如果需要使用 struts2 作为控制层,可以放开这段注释 -->
    <filter>
        <filter-name>struts-prepare</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareFilter</filter-class>
    </filter>
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsExecuteFilter</filter-class>
    </filter>

    <!-- 自动登陆
    <filter>
        <filter-name>autoLoginFilter</filter-name>
        <filter-class>com.fantasy.security.web.filter.AutoLoginFilter</filter-class>
        <init-param>
            <param-name>defaultUserName</param-name>
            <param-value>lisi</param-value>
        </init-param>
        <init-param>
            <param-name>userDetailsServiceBeanName</param-name>
            <param-value>memberUserDetailsService</param-value>
        </init-param>
        <init-param>
            <param-name>successHandlersBeanName</param-name>
            <param-value>memberSuccessHandlers</param-value>
        </init-param>
        <init-param>
            <param-name>enabled</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
    -->

    <!--
    <filter-mapping>
        <filter-name>autoLoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    -->
    <!-- struts2 过滤器 -->
    <filter-mapping>
        <filter-name>struts-prepare</filter-name>
        <url-pattern>*.do</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>*.do</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>weiXinOnPushServlet</servlet-name>
        <url-pattern>/weixin/message/push.xhtml</url-pattern>
    </servlet-mapping>

    <jsp-config>
        <taglib id="TagLibRef_struts">
            <taglib-uri>http://www.fantasy.com/tags/struts-tags</taglib-uri>
            <taglib-location>/WEB-INF/tlds/struts-tags.tld</taglib-location>
        </taglib>
        <taglib id="TagLibRef_fantasy">
            <taglib-uri>http://www.fantasy.com.cn/tags/fantasy</taglib-uri>
            <taglib-location>/WEB-INF/tlds/fantasy.tld</taglib-location>
        </taglib>
        <taglib id="TagLibRef_fantasy_util">
            <taglib-uri>http://www.fantasy.com.cn/util</taglib-uri>
            <taglib-location>/WEB-INF/tlds/util.tld</taglib-location>
        </taglib>
        <taglib id="TagLibRef_fantasy_config">
            <taglib-uri>http://www.fantasy.com.cn/tags/config</taglib-uri>
            <taglib-location>/WEB-INF/tlds/config.tld</taglib-location>
        </taglib>
    </jsp-config>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>