#vakata-contextmenu {
background:none repeat scroll 0 0 #EBEBEB;
border:1px solid silver;
display:none;
margin:0;
min-width:180px;
padding:0;
position:absolute;
z-index:10000;
}
#vakata-contextmenu ul {
min-width:180px;
}
#vakata-contextmenu ul, #vakata-contextmenu li {
display:block;
list-style-type:none;
margin:0;
padding:0;
}
#vakata-contextmenu li {
line-height:20px;
min-height:20px;
height:19px;
padding:0;
position:relative;
}
#vakata-contextmenu li a {
display:block;
line-height:17px;
margin:1px 1px 0;
padding:1px 6px;
text-decoration:none;
}
#vakata-contextmenu li ins {
float:left;
height:16px;
margin-right:2px;
text-decoration:none;
width:16px;
}
#vakata-contextmenu li a:hover, #vakata-contextmenu li.vakata-hover > a {
background:none repeat scroll 0 0 gray;
color:white;
}
#vakata-contextmenu li ul {
background:none repeat scroll 0 0 #EBEBEB;
border:1px solid gray;
display:none;
left:100%;
position:absolute;
top:-2px;
*margin-top:1px;
*padding-bottom:1px;
width: 180px;
display: block;
}

#vakata-contextmenu .right {
left:auto;
right:100%;
}
#vakata-contextmenu .bottom {
bottom:-1px;
top:auto;
}
#vakata-contextmenu li.vakata-separator {
background:none repeat scroll 0 0 silver;
font-size:1px;
height:1px;
line-height:1px;
margin:0 2px;
min-height:0;
overflow:hidden;
padding:0;
}


#demo, #demo input, .jstree-dnd-helper, #vakata-contextmenu {
font-family:Verdana;
font-size:10px;
}


#vakata-contextmenu.jstree-default-context a:hover, #vakata-contextmenu.jstree-default-context .vakata-hover > a {
-moz-border-radius:2px 2px 2px 2px;
background:none repeat scroll 0 0 #E8EFF7;
border:1px solid #AECFF7;
color:black;
padding:0 5px;
}
#vakata-contextmenu li a:hover, #vakata-contextmenu li.vakata-hover > a {
background:none repeat scroll 0 0 gray;
color:white;
}
#vakata-contextmenu.jstree-default-context, #vakata-contextmenu.jstree-default-context li ul {
-moz-box-shadow:1px 1px 2px #999999;
background:none repeat scroll 0 0 #F0F0F0;
border:1px solid #979797;
}
#vakata-contextmenu.jstree-default-context a {
color:black;
}




/*
		#vakata-contextmenu.jstree-default-context li ul {
		margin-left:-4px;
		}
		
		#vakata-contextmenu.jstree-default-context li.vakata-separator {
		background:none repeat scroll 0 0 white;
		border-top:1px solid #E0E0E0;
		margin:0;
		}
		
		#vakata-contextmenu.jstree-default-context, #vakata-contextmenu.jstree-default-context li ul {
		-moz-box-shadow:1px 1px 2px #999999;
		background:none repeat scroll 0 0 #F0F0F0;
		border:1px solid #979797;
		}
		#vakata-contextmenu {
		background:none repeat scroll 0 0 #EBEBEB;
		border:1px solid silver;
		display:none;
		margin:0;	
		width:180px;	
		min-width:180px;
		padding:0;
		position:absolute;
		z-index:10000;
		}
		#demo, #demo input, .jstree-dnd-helper, #vakata-contextmenu {
		font-family:Verdana;
		font-size:10px;
		}
		#vakata-contextmenu ul, #vakata-contextmenu li {
		display:block;
		list-style:none;
		margin:0;
		padding:0;
		}

		#vakata-contextmenu li {
		list-style:none;
		line-height:20px;
		min-height:20px;
		padding:0;
		position:relative;
		}
		
		#vakata-contextmenu li ins {
		float:left;
		height:16px;
		margin-right:2px;
		text-decoration:none;
		width:16px;
		}
		
		#vakata-contextmenu.jstree-default-context a {
		color:black;
		}
		#vakata-contextmenu li a {
		display:block;
		line-height:17px;
		margin:1px 1px 0;
		padding:1px 6px;
		text-decoration:none;
		}
		
		#vakata-contextmenu li.vakata-separator {
		background:none repeat scroll 0 0 silver;
		font-size:1px;
		height:1px;
		line-height:1px;
		margin:0 2px;
		min-height:0;
		overflow:hidden;
		padding:0;
		}

		#vakata-contextmenu li ul {
		background:none repeat scroll 0 0 #EBEBEB;
		border:1px solid gray;
		display:none;
		left:100%;
		position:absolute;
		top:-2px;
		}

		#vakata-contextmenu ul {		
		min-width:180px;
		}
		#vakata-contextmenu.jstree-default-context a:hover, #vakata-contextmenu.jstree-default-context .vakata-hover > a {
		-moz-border-radius:2px 2px 2px 2px;
		background:none repeat scroll 0 0 #E8EFF7;
		border:1px solid #AECFF7;
		color:black;
		padding:0 5px;
		}
		#vakata-contextmenu li a:hover, #vakata-contextmenu li.vakata-hover > a {
		background:none repeat scroll 0 0 gray;
		color:white;
		}
		*/