* html .ComboBox{
	overflow: hidden !important;
}

.ComboBox {
	display: -moz-inline-stack;
	display: inline-block;
	position:absolute;
	vertical-align:middle;
	zoom: 1;
    *display: inline; 
    *margin-right: 5px;
    z-index: 1000;
}
.ComboBox-input{
	/*line-height:26px;*/
	vertical-align:middle;
}

.ComboBox-div{
	display: none;
	overflow-y:auto;
	overflow-x:hidden; 
	position: relative;
	margin: 0;
	padding: 0;
	/*height: 250px;*/
}
.ComboBox-ul {
	border: 1px solid #AAAAAA !important;
	background: none repeat scroll 0 0 #FFFFFF !important;	
	list-style-type: none;	
	float: left;
	margin: 0;
	padding: 0;
	white-space:nowrap;
	font-size: 13px;
}
.ComboBox-ul li{
	padding-left: 3px;
	color: #000033;
}
.ComboBox-ul-li-hover {
	background-color: #0099FF !important;
	color: #F0F8FF !important;
}

.ComboBox .ComboBox-dropdown {
	margin-top: 1px;
	background: url("comboBox.images/droparrow.gif") bottom center no-repeat;
	width: 12px;
	height: 12px;
	right: 0px;
	position: absolute;
	top: 0px;
}
.ComboBox-pager {
	border-top: 1px solid #AAAAAA !important;
}
.ComboBox-pager div  {
	FONT-SIZE: 0.85em !important;
	MARGIN: 3px !important;
	FONT-FAMILY: Tahoma, Helvetica, sans-serif !important;
	TEXT-ALIGN: center !important
}

.ComboBox-pager div A {
	padding-right: 8px !important;
	background-position: 50% bottom !important;
	padding-left: 8px !important;
	padding-bottom: 2px !important;
	color: #0061de !important;
	margin-left:2px !important;
	margin-right:2px !important;
	padding-top: 2px !important;
	text-decoration: none !important
}
.ComboBox-pager div .input-page{
	border: 0.5px solid #C5C3C3;
	margin-left:2px;
	margin-right:2px;
	width: 18px;
	height: 14px;
}
.ComboBox-pager div .first{
	background: url("comboBox.images/page-first.gif") bottom center no-repeat;
}
.ComboBox-pager div .first.disabled{
	background: url("comboBox.images/page-first-disabled.gif") bottom center no-repeat;
}
.ComboBox-pager div .next{
	background: url("comboBox.images/page-next.gif") bottom center no-repeat;
}
.ComboBox-pager div .next.disabled{
	background: url("comboBox.images/page-next-disabled.gif") bottom center no-repeat;
}
.ComboBox-pager div .prev{
	background: url("comboBox.images/page-prev.gif") bottom center no-repeat;
}
.ComboBox-pager div .prev.disabled{
	background: url("comboBox.images/page-prev-disabled.gif") bottom center no-repeat;
}
.ComboBox-pager div .last{
	background: url("comboBox.images/page-last.gif") bottom center no-repeat;
}
.ComboBox-pager div .last.disabled{
	background: url("comboBox.images/page-last-disabled.gif") bottom center no-repeat;
}
.ComboBox-pager div .refresh{
	background: url("comboBox.images/refresh.gif") bottom center no-repeat;
}
.ComboBox-pager div .split{
	background: url("comboBox.images/grid-blue-split.gif") bottom center no-repeat;
	width: 2px;
	height: 13px;
	padding-left:1px !important;
	padding-right:1px !important;
}

.ComboBox-pager div .wait{
	background: url("comboBox.images/wait.gif") bottom center no-repeat;
}