.photoshot-bg {
	position: relative;
	overflow: hidden;
	background-color: #FFFFFF;
	float: left;
	margin:0;
	padding:0;
}
.slice {
	border: 1px dashed #FFFFFF;
	cursor: move;
	height: 60px;
	left: 0px;
	top: 0px;
	width: 133px;
	height: 236px;
	position: absolute;
	z-index: 200;
}
.slice div{
	background-color: black;
	width: 100%;
	height: 100%;
	filter:alpha(opacity=0);
	opacity:0;
}
.photo-bg{
	position: absolute; 
	left: 0pt; 
	top: 0pt; 
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	opacity:0.5;
}
.preview{
	z-index: 100; 
	position: absolute; 
	left: 0pt; 
	top: 0pt;
}