.progressBar{
	width: 500px;
}
.progressBar .progress{
	background-color: blue;
	width: 500px;
	height: 6px;
	position: absolute;
	margin-bottom:2px;
	margin-top:2px;
}
.progressBar .bar{
	background-color: red;
	height: 10px;
	width: 5px;
	position: absolute;
}