<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="aggressiveLazyLoading" value="false" />
	</settings>

	<typeAliases>
		<typeAlias alias="Pager" type="org.jfantasy.framework.dao.Pager" />
	</typeAliases>
	
	<plugins>
		<plugin interceptor="org.jfantasy.framework.dao.mybatis.interceptors.BusEntityInterceptor"/>
		<plugin interceptor="org.jfantasy.framework.dao.mybatis.interceptors.MultiDataSourceInterceptor"/>
	</plugins>

</configuration>