.onShow
{
    clear: both;
    height: 33px;
    line-height: 33px;
}
.onFocus
{
    clear: both;
    height: 33px;
    line-height: 33px;
}
.onError
{
    clear: both;
    height: 33px;
    line-height: 33px;
}
.onCorrect
{
    clear: both;
    height: 33px;
    line-height: 33px;
}
.onLoad
{
    clear: both;
    height: 33px;
    line-height: 33px;
    background: url(../images/onLoad.gif) no-repeat 3px 8px;
    padding-left:25px;
	font-size: 12px;
	vertical-align:middle;
}
.inputOnShow
{
}