<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantasy.framework.dao.mybatis.keygen.dao.SequenceDao">

    <resultMap type="com.fantasy.framework.dao.mybatis.keygen.bean.Sequence" id="SequenceResultMap">
        <id property="key" column="GEN_NAME"/>
        <result property="value" column="GEN_VALUE"/>
    </resultMap>

    <select id="findUniqueByKey" parameterType="java.lang.String" resultMap="SequenceResultMap" flushCache="true">
		SELECT GEN_NAME,GEN_VALUE FROM sys_sequence WHERE GEN_NAME = #{value}
	</select>

    <select id="queryTableSequence" resultType="java.lang.Integer">
        SELECT max(${key}) FROM ${table}
    </select>

    <insert id="insert" parameterType="com.fantasy.framework.dao.mybatis.keygen.bean.Sequence">
		INSERT INTO sys_sequence
           (GEN_NAME
           ,GEN_VALUE)
     	VALUES
           (#{key}
           ,#{value})
	</insert>

    <update id="update" parameterType="com.fantasy.framework.dao.mybatis.keygen.bean.Sequence">
        UPDATE sys_sequence
        <set>
            <if test=" value != null ">GEN_VALUE = #{value},</if>
        </set>
        WHERE GEN_NAME = #{key} and GEN_VALUE = #{originalValue}
    </update>

</mapper>