<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-d{HH:mm:ss,SSS} %p [%c]%M(line:%L)%m%n"/>
        </layout>
    </appender>

    <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="DatePattern" value=".yyyy-MM-dd"/>
        <param name="Encoding" value="UTF-8"/>
        <param name="File" value="${catalina.home}/logs/haolue.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss,SSS} %p [%c]%M(line:%L)%m%n"/>
        </layout>
    </appender>

    <category name="com.haolue">
        <priority value="DEBUG"/>
    </category>
    <category name="org.springframework.web">
        <priority value="DEBUG"/>
    </category>
    <category name="com.fantasy.framework">
        <priority value="DEBUG"/>
    </category>
    <category name="com.fantasy.framework.dao.mybatis">
        <priority value="ERROR"/>
    </category>
    <category name="org.springframework">
        <priority value="ERROR"/>
        <appender-ref ref="FILE"/>
    </category>
    <category name="org.hibernate.cache">
        <priority value="DEBUG"/>
    </category>
    <category name="org.apache.struts2.dispatcher">
        <priority value="ERROR"/>
        <appender-ref ref="FILE"/>
    </category>
    <category name="org.apache.struts2.interceptor">
        <priority value="ERROR"/>
        <appender-ref ref="FILE"/>
    </category>
    <category name="com.opensymphony.xwork2.interceptor">
        <priority value="ERROR"/>
        <appender-ref ref="FILE"/>
    </category>
    <category name="com.opensymphony.xwork2.validator">
        <priority value="ERROR"/>
        <appender-ref ref="FILE"/>
    </category>
    <category name="org.apache.ibatis">
        <priority value="ERROR"/>
        <appender-ref ref="FILE"/>
    </category>
    <category name="org.mybatis.spring">
        <priority value="ERROR"/>
        <appender-ref ref="FILE"/>
    </category>
    <category name="java.sql.Connection">
        <priority value="ERROR"/>
        <appender-ref ref="FILE"/>
    </category>
    <category name="java.sql.Statement">
        <priority value="ERROR"/>
        <appender-ref ref="FILE"/>
    </category>
    <category name="java.sql.PreparedStatement">
        <priority value="ERROR"/>
        <appender-ref ref="FILE"/>
    </category>
    <category name="java.sql.ResultSet">
        <priority value="ERROR"/>
        <appender-ref ref="FILE"/>
    </category>
    <root>
        <priority value="WARN"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</log4j:configuration>
