<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jfantasy.test.dao.MyBatisBeanDao">

	<resultMap type="com.fantasy.test.bean.MyBatisBean" id="TestResultMap">
		<id property="key" column="T_KEY" />
		<result property="value" column="T_VALUE" />
	</resultMap>

	<select id="findUniqueByKey" parameterType="java.lang.String" resultMap="TestResultMap" flushCache="true">
		SELECT T_KEY,T_VALUE FROM test_bean WHERE T_KEY = #{value}
	</select>

    <select id="selectAll" resultMap="TestResultMap" flushCache="true">
        SELECT * FROM test_bean
    </select>

    <select id="selectMultiParameters" resultMap="TestResultMap" flushCache="true">
        SELECT * FROM test_bean
        <where>
            <if test=" key != null ">AND T_KEY = #{key} </if>
            <if test=" value != null ">AND T_VALUE = #{value} </if>
        </where>
    </select>

    <select id="findSimplePager" parameterType="string" resultMap="TestResultMap">
        SELECT * FROM test_bean
        WHERE T_VALUE = #{value} or T_VALUE = #{value}
        ORDER BY T_KEY ASC
    </select>

    <select id="findPager" parameterType="com.fantasy.test.bean.MyBatisBean" resultMap="TestResultMap" flushCache="true">
        SELECT * FROM test_bean
        <where>
            <if test=" value != null ">AND T_VALUE = #{value} </if>
        </where>
        ORDER BY T_KEY ASC
    </select>
    
	<insert id="insert" parameterType="com.fantasy.test.bean.MyBatisBean">
		INSERT INTO test_bean
           (T_KEY
           ,T_VALUE)
     	VALUES
           (
        <if test="key != null"> #{key},</if>
        <if test="value != null"> #{value}</if>
           )
	</insert>

	<update id="update" parameterType="com.fantasy.test.bean.MyBatisBean">
		UPDATE test_bean
		<set>
			<if test=" value != null ">T_VALUE = #{value},</if>
		</set>
		WHERE T_KEY = #{key}
	</update>

    <delete id="delete" parameterType="java.lang.String">
        DELETE FROM test_bean WHERE T_KEY = #{value}
    </delete>

</mapper>