<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd"
       default-lazy-init="true">

    <!-- 用于非spring托管对象获取spring中的Bean -->
    <bean id="springContextUtil" class="org.jfantasy.framework.spring.SpringContextUtil" lazy-init="false"/>

    <!-- spring mvc -->
    <mvc:annotation-driven>
        <mvc:argument-resolvers>
            <bean class="org.jfantasy.framework.spring.mvc.method.annotation.FormModelMethodArgumentResolver"/>
            <bean class="org.jfantasy.framework.spring.mvc.method.annotation.RequestJsonParamMethodArgumentResolver"/>
            <bean class="org.jfantasy.framework.spring.mvc.method.annotation.PropertyFilterModelAttributeMethodProcessor"/>
        </mvc:argument-resolvers>
        <mvc:message-converters>
            <bean class="org.jfantasy.framework.spring.mvc.http.converter.SecurityMappingJackson2HttpMessageConverter"/>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- 使用 annotation -->
    <context:annotation-config/>

    <aop:aspectj-autoproxy/>

    <!-- 使用 annotation 自动注册bean,并检查@Controller, @Service, @Repository注解已被注入 -->
    <context:component-scan base-package="org.jfantasy.config"/>

    <!-- 加载 properties文件 -->
    <context:property-placeholder system-properties-mode="OVERRIDE" ignore-resource-not-found="true" ignore-unresolvable="true" location="classpath:props/application.properties"/>

    <!-- ehcache缓存配置 -->
    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager" p:cacheManager-ref="ehcache"/>
    <bean id="ehcache" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean" p:acceptExisting="true" p:cacheManagerName="testAppCache"/>

    <!-- 系统默认缓存 -->
    <bean id="defaultCache" class="org.jfantasy.framework.cache.DefaultEhCache">
        <constructor-arg name="id" value="fantasy.default"/>
    </bean>

    <!-- lucene 配置 -->
    <bean id="buguIndex" class="org.jfantasy.framework.lucene.BuguIndex" lazy-init="false" init-method="open" destroy-method="close">
        <property name="basePackage" value="org.jfantasy.cms;org.jfantasy.framework.lucene;"/>
        <property name="directoryPath" value="${buguIndex.directoryPath}"/>
        <property name="executor" ref="executor"/>
        <property name="rebuild" value="true"/>
    </bean>

    <!-- 文件管理器 -->
    <bean id="fileManagerFactory" class="org.jfantasy.file.service.FileManagerFactory" lazy-init="false"/>

    <!-- 自定义序列生成器 -->
    <bean id="dataBaseKeyGenerator" class="org.jfantasy.framework.dao.mybatis.keygen.util.DataBaseKeyGenerator">
        <property name="poolSize" value="${dataBaseKey.poolSize}"/>
    </bean>

    <!-- 支付配置 -->
    <bean id="paymentConfiguration" class="org.jfantasy.pay.service.PayProductConfiguration" lazy-init="false"/>

    <!-- 其他需要加载的spring模块 -->
    <import resource="classpath:spring/applicationContext-datasource.xml"/>

    <import resource="classpath:spring/applicationContext-transaction.xml"/>

    <import resource="classpath:spring/applicationContext-mybatis.xml"/>

    <import resource="classpath:spring/applicationContext-hibernate.xml"/>

    <import resource="classpath:spring/applicationContext-schedule.xml"/>

</beans>