<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:websocket="http://www.springframework.org/schema/websocket"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd       http://www.springframework.org/schema/websocket http://www.springframework.org/schema/websocket/spring-websocket.xsd"
       default-lazy-init="true">

    <bean id="webSocketEndPoint" class="com.haolue.websocket.WebSocketEndPoint"/>
    <bean id="handshakeInterceptor" class="com.haolue.websocket.MyHandshakeInterceptor"/>

    <websocket:handlers>
        <websocket:mapping path="/websocket_v" handler="webSocketEndPoint"/>
    </websocket:handlers>
    <bean id="weixinWebSocketEndPoint" class="com.fantasy.wx.websocket.WeixinMessageWebSocket"/>

    <websocket:handlers>
        <websocket:mapping path="/weixin/msg" handler="weixinWebSocketEndPoint"/>
    </websocket:handlers>

</beans>