<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">

    <bean id="weixinConfigInit" class="com.fantasy.wx.config.init.WeixinConfigInit" />
    <bean id="iConfigService" class="com.fantasy.wx.config.service.impl.WeixinConfigService" />
    <bean id="iMenuService" class="com.fantasy.wx.menu.service.impl.WxMenuService" />
    <bean id="iMessageService" class="com.fantasy.wx.message.service.impl.MessageService" />
    <bean id="iGroupMessageService" class="com.fantasy.wx.message.service.impl.GroupMessageService" />
    <bean id="iQRCodeService" class="com.fantasy.wx.qrcode.service.impl.QRCodeService" />
    <bean id="iUserInfoService" class="com.fantasy.wx.user.service.impl.UserInfoService" />
    <bean id="iGroupService" class="com.fantasy.wx.user.service.impl.WxGroupService" />
    <bean id="foucsHandler" class="com.fantasy.wx.handler.FoucsHandler" />
    <bean id="defaultTextHandler" class="com.fantasy.wx.handler.DefaultTextHandler" />
    <bean id="weixinMessageHandler" class="com.fantasy.wx.handler.WeixinMessageHandler">
        <property name="list">
            <list>
                <bean class="com.fantasy.wx.handler.WeixinMessageRouter">
                    <property name="msgType" value="event" />
                    <property name="event" value="subscribe"/>
                    <property name="handler" ref="foucsHandler" />
                </bean>
                <bean class="com.fantasy.wx.handler.WeixinMessageRouter">
                    <property name="msgType" value="text" />
                    <property name="content" value="1"/>
                    <property name="handler" ref="defaultTextHandler" />
                </bean>
            </list>
        </property>
    </bean>
</beans>