<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd"
       default-lazy-init="true">

    <!-- 用于非spring托管对象获取spring中的Bean -->
    <bean id="springContextUtil" class="com.fantasy.framework.spring.SpringContextUtil" lazy-init="false"/>

    <!-- spring mvc -->
    <mvc:annotation-driven/>

    <!-- 使用 annotation -->
    <context:annotation-config/>

    <aop:aspectj-autoproxy/>

    <!-- 使用 annotation 自动注册bean,并检查@Controller, @Service, @Repository注解已被注入 -->
    <context:component-scan base-package="com.fantasy.modules"/>

    <!-- 加载 properties文件 -->
    <context:property-placeholder system-properties-mode="OVERRIDE" ignore-resource-not-found="true" ignore-unresolvable="true" location="classpath:props/application.properties"/>

    <!-- 自定义的一个FreeMarkerConfigurationFactoryBean,spring当中也有一个类似的类 org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer -->
    <bean id="freemarkerService" class="com.fantasy.framework.freemarker.FreeMarkerConfigurationFactoryBean">
        <property name="freemarkerSettings">
            <props>
                <prop key="template_update_delay">1</prop>
                <prop key="default_encoding">UTF-8</prop>
                <prop key="locale">zh_CN</prop>
                <prop key="number_format">#</prop>
                <prop key="date_format">yyyy-MM-dd</prop>
                <!-- <prop key="template_exception_handler">ignore</prop> -->
            </props>
        </property>
        <property name="defaultEncoding" value="utf-8"/>
        <property name="templateLoaderPath" value="${freemarker.templatePath}"/>
    </bean>

    <!-- 开发中的功能
    <bean id="logManager" class="com.fantasy.framework.log.DefaultLogManager"/>
    <log:annotation-driven log-manager="logManager"/>
    -->

    <!--
    <bean id="socketServer" class="com.fantasy.framework.websocket.WebSocketServer" lazy-init="false" init-method="start" destroy-method="stop">
        <constructor-arg name="port" value="9090" />
    </bean>
    -->

    <!-- lucene 配置 -->
    <bean id="buguIndex" class="com.fantasy.framework.lucene.BuguIndex" lazy-init="false" init-method="open"
          destroy-method="close">
        <property name="analyzer">
            <bean class="org.wltea.analyzer.lucene.IKAnalyzer"/>
        </property>
        <property name="basePackage" value="com.fantasy.cms"/>
        <property name="directoryPath" value="${buguIndex.directoryPath}"/>
        <property name="executor" ref="executor"/>
    </bean>

    <!-- 文件管理器 -->
    <bean id="fileManagerFactory" class="com.fantasy.file.service.FileManagerFactory" lazy-init="false"/>

    <!-- 邮件服务接口类 -->
    <bean id="mailSendService" class="com.fantasy.framework.service.MailSendService">
        <property name="hostname" value="${mail.hostname}"/>
        <property name="from" value="${mail.from}"/>
        <property name="displayName" value="${mail.displayName}"/>
        <property name="username" value="${mail.username}"/>
        <property name="password" value="${mail.password}"/>
        <property name="charset" value="${mail.charset}"/>
        <property name="configuration" ref="freemarkerService"/>
    </bean>

    <!-- 自定义序列生成器 -->
    <bean id="dataBaseKeyGenerator" class="com.fantasy.framework.dao.mybatis.keygen.util.DataBaseKeyGenerator">
        <property name="poolSize" value="${dataBaseKey.poolSize}"/>
    </bean>

    <!-- 支付配置 -->
    <bean id="paymentConfiguration" class="com.fantasy.payment.service.PaymentConfiguration" lazy-init="false"/>

    <!-- 订单服务工厂 -->
    <bean id="orderServiceFactory" class="com.fantasy.common.order.OrderServiceFactory"/>

    <!-- 其他需要加载的spring模块 -->
    <import resource="classpath:spring/applicationContext-cache.xml"/>

    <import resource="classpath:spring/applicationContext-datasource.xml"/>

    <import resource="classpath:spring/applicationContext-transaction.xml"/>

    <import resource="classpath:spring/applicationContext-mybatis.xml"/>

    <import resource="classpath:spring/applicationContext-hibernate.xml"/>

    <import resource="classpath:spring/applicationContext-security.xml"/>

    <import resource="classpath:spring/applicationContext-schedule.xml"/>

    <import resource="classpath:spring/applicationContext-weixin.xml"/>

</beans>